altgraph==0.17.4
build==1.0.3
certifi==2023.11.17
charset-normalizer==3.3.2
contourpy==1.1.1
cycler==0.12.1
docutils==0.20.1
fonttools==4.47.0
idna==3.6
importlib-metadata==7.0.0
importlib-resources==6.1.1
jaraco.classes==3.3.0
keyring==24.3.0
kiwisolver==1.4.5
macholib==1.16.3
markdown-it-py==3.0.0
matplotlib==3.7.4
mdurl==0.1.2
more-itertools==10.1.0
nh3==0.2.15
numpy==1.24.4
packaging==23.2
Pillow==10.1.0
pkginfo==1.9.6
pyarmor==7.7.4
pygments==2.17.2
pyinstaller==6.3.0
pyinstaller-hooks-contrib==2023.10
pyparsing==3.1.1
pyproject-hooks==1.0.0
python-dateutil==2.8.2
readme-renderer==42.0
requests==2.31.0
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.7.0
six==1.16.0
tomli==2.0.1
twine==4.0.2
typing-extensions==4.9.0
urllib3==2.1.0
zipp==3.17.0
KangRollGeneCancer
pandas 